html {
    font-size: 22px;
}
body {
    background-color:beige;
    color: rgba(41, 0, 136, 0.882);
}
a{
    color: black;
}

a:visited{
    color: red;
}

a:hover, a:active{
    color: rgb(110, 220, 0);
}